/*font-family: 'Pacifico', cursive;
'Alfa+Slab+One'*/
header{
  height: 80px;
  background: white;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #A52A2A;
}

body{
  padding: none;
  margin: 0 auto;
  width: 100%;
}

.header{
  color: white;
  font-family: 'Marck Script', cursive;
  text-align: center;
}

#donutButton{
  border: none;
  background: #A52A2A;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: 'Marck Script', cursive;
}

#dumbbells{
  border: none;
  background: #A52A2A;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: 'Marck Script', cursive;
}

#donuts{
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.donutImg{
  height: 500px;
  width: 50%;
}

.donutImg h1{
  position: relative;
  text-align: center;
  bottom: 580px;
  color: #F08080;
  font-size: 90px;
  text-shadow: 2px 2px white;
  font-family: 'Pacifico', cursive;
}

.donutImg img{
  width: 100%;
  height: 600px;
  object-fit: cover;
  overflow: hidden;
}

.donutSearch{
  height: 500px;
  width: 50%;
}

.donutSearch img{
  width: 100%;
  height: 600px;
  object-fit: cover;
  overflow: hidden;
}

.dSContent{
  text-align: center;
  position: relative;
  bottom: 550px;
}

.dSContent h3{
  font-size: 50px;
  color: #F08080;
  text-shadow: 2px 2px white;
  font-family: 'Pacifico', cursive;
}

.dSContent input{
  color: #2F4F4F;
  font-family: 'Pacifico', cursive;
  font-size: 16px;
  border: none;
  height: 30px;
  background-color: #66CDAA;
  width: 250px;
}

.dSContent button{
  font-family: 'Pacifico', cursive;
  color: #2F4F4F;
  font-size: 16px;
  font-weight: bold;
  background-color:#F08080;
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 10px;
}

/*========Styling for Gym Section==========*/


#gym{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gymSearch{
  height: 500px;
  width: 50%;
}
.gymImg{
  height: 500px;
  width: 50%;
}

.gymImg img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  overflow: hidden;
}

.gymSearch img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  overflow: hidden;
}

.gymSearch h2{
  font-family: 'Alfa Slab One', cursive;
  font-size: 100px;
  text-align: center;
  position: relative;
  bottom: 320px;
  text-shadow: 3px 3px white;
  color: red;
  margin-left: 30px;
}

.gymImg h4{
text-align: center;
font-size: 60px;
font-family: 'Alfa Slab One', cursive;
color: white;
text-shadow: 3px 3px red;
margin: 0 auto;
}

.gymSearchcontent input{
  font-size: 16px;
  font-family: 'Alfa Slab One', cursive;
  font-weight: lighter;
  color: white;
  border: none;
  background-color: #000000;
  width: 250px;
  height: 30px;
}

.gymSearchcontent button{
  font-family: 'Alfa Slab One', cursive;
  font-size: 16px;
  color: black;
  width: 80px;
  height: 40px;

}

.gymSearchcontent{
  text-align: center;
  position: relative;
  bottom: 300px;
}

#map {
  border: 1px solid red;
  height: 50%;
  width: 40%;
  position: absolute;
  z-index: 1;
  border-radius: 100px;
  box-shadow: 10px 10px 10px black;
  margin-top: -200px;
}
