/*font-family: 'Pacifico', cursive;*/
.donuts{
  height: 380px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.donutImg{
  width: 48%;
}

.donutImg h1{
  position: relative;
  text-align: center;
  bottom: 350px;
  color: #F08080;
  font-size: 90px;
  text-shadow: 2px 2px white;
  font-family: 'Pacifico', cursive;
}

.donutImg img{
  width: 100%;
  height: 380px;
  object-fit: cover;
  overflow: hidden;
}

.donutSearch{
  width: 48%;
}

.donutSearch img{
  width: 100%;
  height: 380px;
  object-fit: cover;
  overflow: hidden;
}

.dSContent{
  text-align: center;
  position: relative;
  bottom: 380px;
}

.dSContent h3{
  font-size: 50px;
  color: #F08080;
  text-shadow: 2px 2px white;
  font-family: 'Pacifico', cursive;
}

.dSContent input{
  color: #2F4F4F;
  font-family: 'Pacifico', cursive;
  font-size: 16px;
  border: none;
  height: 30px;
  background-color: #66CDAA;
  width: 250px;
}

.dSContent button{
  font-family: 'Pacifico', cursive;
  color: #2F4F4F;
  font-size: 16px;
  font-weight: bold;
  background-color:#F08080;
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 10px;
}
